/* dody tage styling */
body {
    font-size:16px;
    color:#fff;
    background-color:#61122f;
    font-family:"oxygen";
}

/* image and header styling */
#header-navbar {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background:url("logo_image.png") no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
   
}
.navbar-brand {
    padding-top:25px;
}
.navbar-brand  h1 {
    font-family:"lora", serif;
    color:#557c3e;
    font-size:1.5em;
    text-transform:uppercase;
    font-weight:bold;
    text-shadow:1px 1px 1px #222;
    margin-top:0;
    line-height:.75;
   margin-bottom:o;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration:none;
}
.navbar-brand p {
    color:#000;
    text-decoration:uppercase;
    font-size:.7em;
    margin-top:15px;
}
.navbar-brand p span {
    vertical-align:middle;
}
.navbar-brand>img {
    display:block;
}
@media(min-width:768px) {
    .navbar> .container .navbar-brand,
    .navbar> .container-fluid .navbar-brand {
        margin-left: -15px;
    }

    /* Navigation toggle */
}
.navbar-toggle {
    position:relative;
    float:right;
    float:right;
    margin-top:8px;
    margin-right:15px;
    margin-bottom:8px;
    background-color:transparent;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
}
.navbar-toggle .icon-bar {
    outline:0;
}
.navbar-toggle .icon-bar {
    display:block;
    width:22px;
    height:2px;
    border-radius:1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top:4px;
}
@media(min-width:768px) {
    .navbar-toggle {
        display:none;
    }
}
.navbar-nav {
    margin:7.5px -15px;
}

.navbar-nav >li>a {
    padding-top:10px;
    padding-bottom:10px;
    line-height:20px
}
div button {
    position: absolute;
    top: 20px; /* adjust as per your design */
    right: 20px; /* adjust as per your design */
}
#nav-list {
    margin-top:10px;

}
#nav-list a {
    color:#951c49;
    text-align:center;
}
#nav-list a:hover {
    background-color:#E7E7E7;
}
#nav-list a span {
    font-size:1.8px;
}
#phone div {
    text-align:right;
    color:#557c3e;
    padding-right:15px;
}
#phone {
    margin-top: 5px;
}
#phone a {
    text-align:right;
    padding-bottom:0;
}
#nav-list {
  text-align:center;
  padding-right:15px;     


}
/* #phone div {
    color:#557c3e;
    text-align:right;
    padding-right:15px;
} */

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border:1px solid #61122f;
}
.navbar-header button.navbar-toggle {
    clear:both;
    margin-top:-30px;
}
@media(min-width:1200px) {

}
@media(min-width:992px) and (max-width:1199px) {
    #logo-img {
        background:url("logo_image.png") no-repeat;
        width:100px;
        height:100px;
        margin:5px 5px 5px 0px;
    }
}
@media(min-width:768px) and (max-width:991px) {

}
@media(max-width:767px) {
    .navbar-brand {
        padding-top:10px;
        height:80px;
    }
    .navbar-brand h1 {
        padding-top:10px;
        font-size:5vw;
    }
    .navbar-brand p {
        font-size:.6em;
        margin-top:12px;
    }
    .navbar-brand p img {
        height:20px;
    }

}
#collapsable-nav a {
    font-size:1.2em;
}
#collapsable-nav a span {
    font-size:1em;
   margin-right:5px;
}


nav ul li a {
    text-decoration: none;
    color: white;
}

#call-btn {
    text-align:center;
    border:1px solid black;
    background-color:rgb(220, 167, 9);
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
   
}
#menu-title:hover, #special-title:hover,, #map-title:hover {
    box-shadow:0 1px 5px 1px #cccccc;
}
#menu-title, #special-title, #map-title {
    height:250px;
    width:100%;
    margin-bottom:15px;
    position: relative;
    border:2px solid #3f0c1f;
    overflow:hidden;
}
#menu-title {
    background:url("food1.jpg") no-repeat;
    background-position:center;
    margin-top:30px;
}
#special-title {
    background:url("food2.jpg") no-repeat;
    background-position:center;
    margin-top:30px;
}
#map-title {
    background:url("food3.jpg") no-repeat;
    background-position:center;
    margin-top:20px;
}
#menu-title span, #special-title span, #map-title span {
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    text-align:center;
    font-size:1.6em;
    text-transform:uppercase;
    background-color:#000;
    color:#fff;
    opacity:.8;
} 
.panel-footer {
    margin-top:30px;
    padding-top:35px;
    padding-bottom:30px;
    background-color:#222;
    border-top:0px;
}
.panel-footer div.row {
    margin-bottom:35px;
 }
#hours, #address {
    line-height:20px;
}

#hours>span, #address>span {
    font-size:20px;
}

#address p {
    color:#557c3e;
    font-size:.8em;
    line-height:1.8;
}

#testimoials {
    font-size:italic;
}
#testimonials p:nth-child(2) {
    margin-top:25px;
}
/* @media (min-width: 768px) and (max-width: 991px) {
    #map-title span:nth-child(3) {
        width:100%;
    } 
} */
.panel-footer section {
    margin-bottom:30px;
    text-align:center;

}
.panel-footer section:nth-chold(3) {
    margin-bottom:0;

}
.panel-footer section hr {
    width:50%;
}

/* Menu categories page */
.categories-title {
    position:relative;
    border:2px solid #3f0c1f;
    overflow:hidden;
    width:200px;
    height:200px;
    margin:0 auto 15px;
}
.categories-title span {
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    text-align:center;
    font-size:1.2em;
    text-transform:uppercase;
    background-color:#000;
    color: #fff;
    opacity:.8;
}
.categories-title:hover {
    box-shadow:0 1px 5px 1px #cccccc;
}
#menu-categories-title + div {
    margin-bottom:50px;
}
/* single item styling */
.menu-item-title {
    margin-bottom: 25px;
}

.menu-item-title hr {
    width: 80px;
}

.menu-item-title .menu-item-price {
    font-size:1.1px;
    text-align:right;
    margin-top:-15px;
    margin-right:-15px;
}
.menu-item-title .menu-item-price {
    font-size:.6em;
}
.menu-item-photo {
    position:relative;
    border:2px solid #3f0c1f;
    overflow:hidden;
    padding:0;
    margin-right:-15px;
    margin-left:auto;
    margin-bottom:20px;
    max-width:250px
}
.menu-item-photo div {
    position:absolute;
    bottom:0;
    right:0;
    width:80px;
    background-color:#557c3e;
    text-align:center;
}
.menu-item-description {
    padding-right:30px;
}
h3.menu-item-title {
    margin: 0 0 10px;
}
.menu-item-detail {
    font-size:.9em;
    font-style:italic;
}


.img1 {
    width: 100%;
    text-align: center;
}






